
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: aliceblue;
    margin: 35px 20px;
    padding: 35px;
    border: 6px solid lightblue;
}

input {
    background: #D7D7D7;
    height: 50;
    width: 70%;
    border: 1px solid gray;
    outline: none;
    padding: 20px;
}